* { box-sizing: border-box; }

body {
  background-color: lightgray;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto', sans-serif;
}

header {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

@media (min-width: 800px) {
  header {
    /*padding: 20px;*/
    /*width: 800px;*/
  }
}

img {
  width: 100%;
}

.container {
  background-color: white;
  margin: 0 auto;
  margin-top: 20px;
  padding: 0;
  width: 100%;
}

@media (min-width: 800px) {
  .container {
    padding: 20px;
    width: 800px;
  }
}

.main-menu {
  background-color: deepskyblue;
  margin: 0;
  text-align: right;
  width: 100%;
}

.main-menu a {
  color: white;
  display: inline-block;
  padding: 5px;
  text-decoration: none;
}

.main-menu a:last-child {
  padding-right: 15px;
}

.main-menu a + a {
  border-left: solid 1px white;
  padding-left: 10px;
}

.movie {
  margin-top: 50px;
}

.movie .body {
  background-color: lightcyan;
  padding: 10px;
  min-height: 180px;
}

.movie .body:first-child {
  margin-top: 0;
}

.movie .details {
}

.movie .head {
  background-color: lightgreen;
  margin: 0;
  padding: 10px;
}

.movie .head:first-child {
  margin-bottom: 0;
}

.movie .poster {
  float: left;
  margin: 10px;
  margin-top: -60px;
  width: 200px;
}
