[submodule "Alex/wk02/1-mon/05_brooklyn_css"]
	path = Alex/wk02/1-mon/05_brooklyn_css
	url = https://github.com/Sonna/brooklyn_css.git
[submodule "Alex/wk02/2-tue/02_ecardly_css"]
	path = Alex/wk02/2-tue/02_ecardly_css
	url = https://github.com/Sonna/ecardly_css.git
[submodule "Alex/wk02/2-tue/04_fashion_css"]
	path = Alex/wk02/2-tue/04_fashion_css
	url = https://github.com/Sonna/fashion_css.git
[submodule "Alex/wk03/2-tue/03_test_app"]
	path = Alex/wk03/2-tue/03_test_app
	url = https://github.com/Sonna/test_app.git
[submodule "Alex/project1/public"]
	path = Alex/project1/public
	url = https://github.com/Sonna/wdi-project1
