<h2>Create a Character</h2>

<form>
  <label for="name">Character Name</label>
  <input type="text" name="name">
  <label for="image_url">image_url</label>
  <input type="text" name="image_url">

  <fieldset class="stats">
    <legend>Statistics</legend>
    <div class="input-group">
      <label for="str">STR</label>
      <input type="number" name="str" value="7">
    </div>
    <div class="input-group">
      <label for="dex">DEX</label>
      <input type="number" name="dex" value="7">
    </div>
    <div class="input-group">
      <label for="con">CON</label>
      <input type="number" name="con" value="7">
    </div>
    <div class="input-group">
      <label for="int">INT</label>
      <input type="number" name="int" value="7">
    </div>
    <div class="input-group">
      <label for="wis">WIS</label>
      <input type="number" name="wis" value="7">
    </div>
    <div class="input-group">
      <label for="cha">CHA</label>
      <input type="number" name="cha" value="7">
    </div>
  </fieldset>
  <button>Create</button>
</form>
