<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>
  <header>
    <% unless current_user %>
      <nav>
        <a href="/login">login</a>
      </nav>
    <% else %>
      <span class="user">logged in as <%= current_user %></span>
      <nav>
        <form action="/session" method="post">
          <input type="hidden" name="_method" value="delete">
          <button>logout</button>
        </form>
      </nav>
    <% end %>
  </header>

  <%= yield %>

</body>
</html>
