<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>
  <nav>
    <span class="user"><%= session[:user_id] %></span>
    <a href="/login">login</a>
  </nav>

  <%= yield %>

</body>
</html>
