<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>
  <header>
    <% unless session[:user_id] %>
      <nav>
        <a href="/login">login</a>
      </nav>
    <% else %>
      <span class="user">logged in as <%= current_user %></span>
      <nav>
        <a href="/logout">logout</a>
      </nav>
    <% end %>
  </header>

  <%= yield %>

</body>
</html>
