<h1>login</h1>

<form>
  <label for="email">email</label>
  <input type="email" name="email">
  <label for="password">password</label>
  <input type="password" name="password">
  <button>login</button>
</form>
