* { box-sizing: border-box; }

body {
  background-color: lightgray;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto', sans-serif;
}

header {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

img {
  width: 100%;
}

.container {
  background-color: white;
  margin: 0 auto;
  margin-top: 20px;
  padding: 0;
  width: 100%;
}

@media (min-width: 800px) {
  .container {
    padding: 20px;
    width: 800px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.genre,
.rating-details,
.released,
.runtime {
  font-size: 0.75em;
}

.genre {
  display: block;
  font-weight: 900;
}

.main-menu {
  background-color: deepskyblue;
  margin: 0;
  text-align: right;
  width: 100%;
}

.main-menu a {
  color: white;
  display: inline-block;
  padding: 5px;
  text-decoration: none;
}

.main-menu a:last-child {
  padding-right: 15px;
}

.main-menu a + a {
  border-left: solid 1px white;
  padding-left: 10px;
}

.movie {
  margin-top: 50px;
  position: relative;
}

.movie img {
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent) , to(rgba(250, 250, 250, 0.1)));
}

.movie img:before {
  content: ""; /* needed or nothing will be shown */
  background: -moz-linear-gradient(top, white, white 30%, rgba(255,255,255,0.9) 65%, rgba(255,255,255,0.7)) 0px 0px, -moz-element(#someid) 0px -127px no-repeat;
  -moz-transform: scaleY(-1); /* flip the image vertically */
  position: relative;
  height: 140px;
  width: 360px; /* should be > image width + margin + shadow */
  top: 247px;
  left: 0px;
}

.movie .body {
  background-color: lightcyan;
  padding: 10px;
  min-height: 180px;
}

.movie .body:first-child {
  margin-top: 0;
}

.movie .details {
  margin-top: 350px;
}

@media (min-width: 400px) {
  .movie .details {
    margin-top: 0;
  }
}

.movie .foot {
  padding: 10px;
  width: 100%;
}

@media (min-width: 800px) {
  .movie .foot > *:not(h2) {
    float: left;
    min-height: 150px;
    width: 50%;
  }
}

.movie .head {
  background-color: lightgreen;
  margin: 0;
  padding: 10px;
}

.movie .head:first-child {
  margin-bottom: 0;
}

.movie .poster {
  margin-top: -350px;
  position: absolute;
  -webkit-mask-image: -webkit-gradient(linear, center top, center bottom,
                      from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  width: 100%;
}

@media (min-width: 400px) {
  .movie .poster {
    float: left;
    margin: 25px;
    margin-top: -60px;
    position: initial;
    -webkit-mask-image: none;
    width: 140px;
  }
}

@media (min-width: 600px) {
  .movie .poster {
    width: 200px;
  }
}

.results h2 {
  font-size: 1.0em;
  text-align: center;
}

.results nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
}

/* Extra small devices (phones, 600px and down) */
/*@media (max-width: 600px) {*/
.results nav a {
  width: 50%;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) {
  .results nav a {
    width: 33.333%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
  .results nav a {
    width: 25%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
  .results nav a {
    width: 20%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {
  .results nav a {
    width: 10%;
  }
}

.results .inline-poster {
/*
  margin-bottom: -20px;
  height: 60px;
  width: auto;
*/
  padding: 10px;
}

.rating-details {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 600px) {
  .rating-details {
    float: right;
  }

  .rating-votes {
    padding-left: 15px;
  }
}

.rating-votes:after {
  padding-left: 5px;
}

.rating-votes:after {
  content: "\f007";
  font-weight: 900;
}

.rating-details .stars .empty:before,
.rating-details .stars .full:before,
.rating-details .stars .half-alt:before,
.rating-votes:after {
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  text-rendering: auto;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
}

.rating-details .stars .empty:before {
  content: "\f005";
  font-weight: 400;
}

.rating-details .stars .full:before {
  content: "\f005";
  font-weight: 900;
}

.rating-details .stars .half-alt:before {
  content: "\f5c0";
  font-weight: 900;
}

.runtime {
  padding-left: 15px;
}

.stars {
  display: flex;
}
