* { box-sizing: border-box; }

body {
  background-color: mistyrose;
}

dl:after,
dl:before {
  clear: both;
  content: " ";
}

dl {
  width: 100%;
}

dd, dt {
  display: inline-block;
  float: left;
  margin: 0;
  width: 50%;
}
