* { box-sizing: border-box; }

body {
  font-family: Arial, Helvetica, sans-serif;
}

.todo-list {
  list-style: none;
  padding: 0;
}

/*.todo-list li {*/
.todo-item {
  /*border: 1px solid black;*/
  border-color: black;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 5px;
  padding: 10px;
  transition: all 0.4s linear;
}

/*.todo-item.completed {*/
.completed {
  background-color: #e3e3e3;
  border-color: gray;
  color: gray;
  text-decoration: line-through;
  transition: all 0.4s linear;
}

/*.hide {*/
.hidden {
  display: none;
}

.show {
  display: block;
}
