<!DOCTYPE html>
<html>
<head>
  <title>Stocks</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>

  <p>goodbye to yahoo finance<p>

  <h1>Stock:</h1>
<% #[nil, false].all? { |x| x == false } %>
<% if @quote # == true # if !@quote.nil? # unless @quote.nil? %>
  <div>
    <div>symbol:</div>
    <div>
      <%= @quote.symbol %>
    </div>
    <div>companyName:</div>
    <div><%= @quote.company_name %></div>
<% else %>
  <p>Stock <%= @stock %> not found</p>
<% end %>
  </div>
</body>
</html>
