* { box-sizing: border-box; }

body {
  font-size: 42px;
}
/*
.one {
  background-color: lime;
}

.two {
  background-color: plum;
  border: 10px solid black;
  display: inline-block;
  / *width: 50px;* /
  / *width: 200px;* /
  / *width: 50%;* /
  vertical-align: top;
  width: 70%;
}

.three {
  background-color: papayawhip;
  display: inline-block;
  / *width: 50px;* /
  / *width: 200px;* /
  / *width: 1px;* /
  vertical-align: top;
  width: 30%;
}
*/

.one {
  background-color: lime;
}

.two {
  background-color: plum;
  width: 50%;
}

.three {
  background-color: papayawhip;
  width: 50%;
}

.wrapper {
  display: flex;
}
