<h1>Roster</h1>

<div class="month">
  <ul>
    <li class="prev">&#10094;</li>
    <li class="next">&#10095;</li>
    <li>August<br><span style="font-size:18px">2017</span></li>
  </ul>
</div>

<ul class="weekdays">
  <li>Mo</li>
  <li>Tu</li>
  <li>We</li>
  <li>Th</li>
  <li>Fr</li>
  <li>Sa</li>
  <li>Su</li>
</ul>
<ul class="days">
  <li><span class="day">1</span></li>
  <li><span class="day">2</span></li>
  <li><span class="day">3</span></li>
  <li><span class="day">4</span></li>
  <li><span class="day">5</span></li>
  <li><span class="day">6</span></li>
  <li><span class="day">7</span></li>
  <li><span class="day">8</span></li>
  <li><span class="day">9</span></li>
  <li><span class="active">10</span></li>
  <li><span class="day">11</span></li>
  <li><span class="day">12</span>
    <article class="employee">
      <span>1 Ganon</span>
      <span class="timeframe night">night</span>
    </article>
    <article class="employee">
      <span>12 Grace</span>
      <span class="timeframe morning">morning</span>
    </article>
  </li>
  <li><span class="day">13</span></li>
  <li><span class="day">14</span></li>
  <li><span class="day">15</span></li>
  <li><span class="day">16</span></li>
  <li><span class="day">17</span></li>
  <li><span class="day">18</span></li>
  <li><span class="day">19</span></li>
  <li><span class="day">20</span></li>
  <li><span class="day">21</span></li>
  <li><span class="day">22</span></li>
  <li><span class="day">23</span></li>
  <li><span class="day">24</span></li>
  <li><span class="day">25</span></li>
  <li><span class="day">26</span></li>
  <li><span class="day">27</span></li>
  <li><span class="day">28</span></li>
  <li><span class="day">29</span></li>
  <li><span class="day">30</span></li>
  <li><span class="day">31</span></li>
</ul>

<section class="employees">
  <h2>All Shifts</h2>
  <article class="employee">
    <span>1 Ganon</span>
    <span class="timeframe night">night</span>
  </article>
  <article class="employee">
    <span>12 Grace</span>
    <span class="timeframe morning">morning</span>
  </article>
</section>
