<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Employee Roster</title>
  <link rel="stylesheet" href="/stylesheets/vendor/w3schools-calendar.css">
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>

  <%= yield %>

</body>
</html>
