<h1>My stock app</h1>
<form>
  <input type="text" name="stock_symbol" value="">
  <button>Find Stock</button>
</form>
<% # = @stock && @stock.latest_price %>
<% if @stock %>
  <%= @stock.latest_price %>
<% else %>
  <div>Stock does not exist</div>
<% end %>

<!--
  <% %>    \\ //
 >('_')<  >(._.)<
  // \\    <% %>
 -->
