<h1>edit planet</h1>

<form action="/planets/<%= @planet['id'] %>" method="post">
  <input type="hidden" name="_method" value="put">
  <label for="name">name</label>
  <input type="text" name="name" value="<%= @planet['name'] %>">
  <label for="image_url">image url</label>
  <input type="text" name="image_url" value="<%= @planet['image_url'] %>">
  <button>post</button>
</form>
