<h1>Index</h1>
<section>
  <p>Check out these movies</p>
  <ul>
    <li><a href="/blade+runner">Blade Runner</a></li>
    <li><a href="/jaws">Jaws</a></li>
    <li><a href="/once">Once</a></li>
  </ul>
</section>
