<h1>Index</h1>
<section class="search">
  <form method="POST">
    <input type="text" name="movie_name">
    <button>Search</button>
  </form>
</section>
<section class="extras">
  <p>Check out these movies</p>
  <ul>
    <li><a href="/blade+runner">Blade Runner</a></li>
    <li><a href="/jaws">Jaws</a></li>
    <li><a href="/once">Once</a></li>
  </ul>
</section>
