<!DOCTYPE html>
<html>
<head>
  <title>Movies I</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <!--
  <header>
    <nav></nav>
  </header>
  -->
  <section class="container">
    <%= yield %>
  </section>
  <!--
  <footer>
  </footer>
   -->
</body>
</html>
