<!DOCTYPE html>
<html>
<head>
  <title>Movies I</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <header>
    <nav class="main-menu">
      <a href="/">Home</a>
      <a href="/about">About</a>
    </nav>
  </header>

  <section class="container">
    <%= yield %>
  </section>
  <!--
  <footer>
  </footer>
   -->
</body>
</html>
